In [1]:
import numpy as np
import pymixdee as pmd
from typing import Union
from sympy.utilities.iterables import multiset_permutations

In [2]:
md = pmd.MixD(factor_names=['x1', 'x2', 'x3', 'x4', 'x5'])
md.simplex_centroid(ndegree= 3, ncenter =1)

number of experiments = 26

          x1        x2        x3        x4        x5
0   0.000000  0.000000  0.000000  0.000000  1.000000
1   0.000000  0.000000  0.000000  1.000000  0.000000
2   0.000000  0.000000  1.000000  0.000000  0.000000
3   0.000000  1.000000  0.000000  0.000000  0.000000
4   1.000000  0.000000  0.000000  0.000000  0.000000
5   0.000000  0.000000  0.000000  0.500000  0.500000
6   0.000000  0.000000  0.500000  0.000000  0.500000
7   0.000000  0.000000  0.500000  0.500000  0.000000
8   0.000000  0.500000  0.000000  0.000000  0.500000
9   0.000000  0.500000  0.000000  0.500000  0.000000
10  0.000000  0.500000  0.500000  0.000000  0.000000
11  0.500000  0.000000  0.000000  0.000000  0.500000
12  0.500000  0.000000  0.000000  0.500000  0.000000
13  0.500000  0.000000  0.500000  0.000000  0.000000
14  0.500000  0.500000  0.000000  0.000000  0.000000
15  0.000000  0.000000  0.333333  0.333333  0.333333
16  0.000000  0.333333  0.000000  0.333333  0.333333
17  0.000000  0.333333  0.333333  0.000000  0.333333
18  0.000000  0.333333  0.333333  0.333333  0.000000
19  0.333333  0.000000  0.000000  0.333333  0.333333
20  0.333333  0.000000  0.333333  0.000000  0.333333
21  0.333333  0.000000  0.333333  0.333333  0.000000
22  0.333333  0.333333  0.000000  0.000000  0.333333
23  0.333333  0.333333  0.000000  0.333333  0.000000
24  0.333333  0.333333  0.333333  0.000000  0.000000
25  0.200000  0.200000  0.200000  0.200000  0.200000

In [3]:
nfact = 3
ndegree = 3
ncenter = 8

plan = md.scheffe_network(ndegree=ndegree,ncenter=ncenter, dtype=np.float64)

number of experiments = 33

In [4]:
plan

          x1        x2        x3        x4        x5
0   0.000000  1.000000  0.000000  0.000000  0.000000
1   0.333333  0.666667  0.000000  0.000000  0.000000
2   0.666667  0.333333  0.000000  0.000000  0.000000
3   0.000000  0.000000  0.000000  0.000000  1.000000
4   0.000000  0.000000  0.000000  1.000000  0.000000
5   0.000000  0.000000  1.000000  0.000000  0.000000
6   1.000000  0.000000  0.000000  0.000000  0.000000
7   0.000000  0.000000  0.000000  0.333333  0.666667
8   0.000000  0.000000  0.000000  0.666667  0.333333
9   0.000000  0.000000  0.333333  0.000000  0.666667
10  0.000000  0.000000  0.333333  0.666667  0.000000
11  0.000000  0.000000  0.666667  0.000000  0.333333
12  0.000000  0.000000  0.666667  0.333333  0.000000
13  0.000000  0.333333  0.000000  0.000000  0.666667
14  0.000000  0.333333  0.000000  0.666667  0.000000
15  0.000000  0.333333  0.666667  0.000000  0.000000
16  0.000000  0.666667  0.000000  0.000000  0.333333
17  0.000000  0.666667  0.000000  0.333333  0.000000
18  0.000000  0.666667  0.333333  0.000000  0.000000
19  0.333333  0.000000  0.000000  0.000000  0.666667
20  0.333333  0.000000  0.000000  0.666667  0.000000
21  0.333333  0.000000  0.666667  0.000000  0.000000
22  0.666667  0.000000  0.000000  0.000000  0.333333
23  0.666667  0.000000  0.000000  0.333333  0.000000
24  0.666667  0.000000  0.333333  0.000000  0.000000
25  0.200000  0.200000  0.200000  0.200000  0.200000
26  0.200000  0.200000  0.200000  0.200000  0.200000
27  0.200000  0.200000  0.200000  0.200000  0.200000
28  0.200000  0.200000  0.200000  0.200000  0.200000
29  0.200000  0.200000  0.200000  0.200000  0.200000
30  0.200000  0.200000  0.200000  0.200000  0.200000
31  0.200000  0.200000  0.200000  0.200000  0.200000
32  0.200000  0.200000  0.200000  0.200000  0.200000

In [12]:
md.lower_constraints(plan, [0.1,0,0,0.2, 0.3])

          x1        x2        x3        x4        x5
0   0.144800  0.054400  0.048000  0.304000  0.448800
1   0.146933  0.052267  0.048000  0.304000  0.448800
2   0.149067  0.050133  0.048000  0.304000  0.448800
3   0.144800  0.048000  0.048000  0.304000  0.455200
4   0.144800  0.048000  0.048000  0.310400  0.448800
5   0.144800  0.048000  0.054400  0.304000  0.448800
6   0.151200  0.048000  0.048000  0.304000  0.448800
7   0.144800  0.048000  0.048000  0.306133  0.453067
8   0.144800  0.048000  0.048000  0.308267  0.450933
9   0.144800  0.048000  0.050133  0.304000  0.453067
10  0.144800  0.048000  0.050133  0.308267  0.448800
11  0.144800  0.048000  0.052267  0.304000  0.450933
12  0.144800  0.048000  0.052267  0.306133  0.448800
13  0.144800  0.050133  0.048000  0.304000  0.453067
14  0.144800  0.050133  0.048000  0.308267  0.448800
15  0.144800  0.050133  0.052267  0.304000  0.448800
16  0.144800  0.052267  0.048000  0.304000  0.450933
17  0.144800  0.052267  0.048000  0.306133  0.448800
18  0.144800  0.052267  0.050133  0.304000  0.448800
19  0.146933  0.048000  0.048000  0.304000  0.453067
20  0.146933  0.048000  0.048000  0.308267  0.448800
21  0.146933  0.048000  0.052267  0.304000  0.448800
22  0.149067  0.048000  0.048000  0.304000  0.450933
23  0.149067  0.048000  0.048000  0.306133  0.448800
24  0.149067  0.048000  0.050133  0.304000  0.448800
25  0.146080  0.049280  0.049280  0.305280  0.450080
26  0.146080  0.049280  0.049280  0.305280  0.450080
27  0.146080  0.049280  0.049280  0.305280  0.450080
28  0.146080  0.049280  0.049280  0.305280  0.450080
29  0.146080  0.049280  0.049280  0.305280  0.450080
30  0.146080  0.049280  0.049280  0.305280  0.450080
31  0.146080  0.049280  0.049280  0.305280  0.450080
32  0.146080  0.049280  0.049280  0.305280  0.450080

In [6]:
md.shuffle(plan)

          x1        x2        x3        x4        x5
0   0.033333  0.000000  0.000000  0.366667  0.600000
1   0.100000  0.000000  0.000000  0.433333  0.466667
2   0.100000  0.000000  0.000000  0.500000  0.400000
3   0.033333 -0.133333  0.000000  0.500000  0.600000
4   0.100000 -0.133333  0.000000  0.500000  0.533333
5   0.060000 -0.040000 -0.040000  0.460000  0.560000
6  -0.033333  0.000000  0.000000  0.433333  0.600000
7   0.100000 -0.066667 -0.133333  0.500000  0.600000
8   0.100000 -0.133333 -0.066667  0.500000  0.600000
9   0.060000 -0.040000 -0.040000  0.460000  0.560000
10 -0.100000  0.000000  0.000000  0.500000  0.600000
11  0.060000 -0.040000 -0.040000  0.460000  0.560000
12  0.100000  0.000000 -0.133333  0.433333  0.600000
13  0.060000 -0.040000 -0.040000  0.460000  0.560000
14  0.100000  0.000000 -0.200000  0.500000  0.600000
15  0.060000 -0.040000 -0.040000  0.460000  0.560000
16 -0.033333 -0.066667  0.000000  0.500000  0.600000
17  0.033333  0.000000 -0.133333  0.500000  0.600000
18 -0.033333  0.000000  0.000000  0.500000  0.533333
19  0.100000  0.000000 -0.066667  0.500000  0.466667
20  0.060000 -0.040000 -0.040000  0.460000  0.560000
21  0.100000  0.000000  0.000000  0.366667  0.533333
22  0.100000  0.000000 -0.066667  0.366667  0.600000
23  0.100000  0.000000  0.000000  0.300000  0.600000
24  0.060000 -0.040000 -0.040000  0.460000  0.560000
25 -0.033333  0.000000 -0.066667  0.500000  0.600000
26  0.100000 -0.066667  0.000000  0.500000  0.466667
27  0.100000 -0.200000  0.000000  0.500000  0.600000
28  0.100000 -0.133333  0.000000  0.433333  0.600000
29  0.033333  0.000000  0.000000  0.500000  0.466667
30  0.060000 -0.040000 -0.040000  0.460000  0.560000
31  0.100000 -0.066667  0.000000  0.366667  0.600000
32  0.100000  0.000000 -0.133333  0.500000  0.533333

In [7]:
plan

          x1        x2        x3        x4        x5
0   0.100000 -0.200000  0.000000  0.500000  0.600000
1   0.033333 -0.133333  0.000000  0.500000  0.600000
2  -0.033333 -0.066667  0.000000  0.500000  0.600000
3   0.100000  0.000000  0.000000  0.500000  0.400000
4   0.100000  0.000000  0.000000  0.300000  0.600000
5   0.100000  0.000000 -0.200000  0.500000  0.600000
6  -0.100000  0.000000  0.000000  0.500000  0.600000
7   0.100000  0.000000  0.000000  0.433333  0.466667
8   0.100000  0.000000  0.000000  0.366667  0.533333
9   0.100000  0.000000 -0.066667  0.500000  0.466667
10  0.100000  0.000000 -0.066667  0.366667  0.600000
11  0.100000  0.000000 -0.133333  0.500000  0.533333
12  0.100000  0.000000 -0.133333  0.433333  0.600000
13  0.100000 -0.066667  0.000000  0.500000  0.466667
14  0.100000 -0.066667  0.000000  0.366667  0.600000
15  0.100000 -0.066667 -0.133333  0.500000  0.600000
16  0.100000 -0.133333  0.000000  0.500000  0.533333
17  0.100000 -0.133333  0.000000  0.433333  0.600000
18  0.100000 -0.133333 -0.066667  0.500000  0.600000
19  0.033333  0.000000  0.000000  0.500000  0.466667
20  0.033333  0.000000  0.000000  0.366667  0.600000
21  0.033333  0.000000 -0.133333  0.500000  0.600000
22 -0.033333  0.000000  0.000000  0.500000  0.533333
23 -0.033333  0.000000  0.000000  0.433333  0.600000
24 -0.033333  0.000000 -0.066667  0.500000  0.600000
25  0.060000 -0.040000 -0.040000  0.460000  0.560000
26  0.060000 -0.040000 -0.040000  0.460000  0.560000
27  0.060000 -0.040000 -0.040000  0.460000  0.560000
28  0.060000 -0.040000 -0.040000  0.460000  0.560000
29  0.060000 -0.040000 -0.040000  0.460000  0.560000
30  0.060000 -0.040000 -0.040000  0.460000  0.560000
31  0.060000 -0.040000 -0.040000  0.460000  0.560000
32  0.060000 -0.040000 -0.040000  0.460000  0.560000

In [8]:
md.dirichlet(25, alpha=(80,18,1,0,10))

          x1        x2        x3        x4        x5
0   0.868651  0.084690  0.001355  0.000108  0.045196
1   0.735983  0.165136  0.006590  0.000942  0.091349
2   0.653353  0.192941  0.017437  0.006752  0.129517
3   0.787519  0.103698  0.001821  0.030276  0.076687
4   0.730823  0.129938  0.021267  0.007929  0.110043
5   0.744006  0.149859  0.013034  0.006101  0.086999
6   0.754658  0.167022  0.024477  0.006283  0.047560
7   0.668865  0.175152  0.002115  0.016232  0.137636
8   0.706139  0.168398  0.033516  0.018183  0.073764
9   0.754175  0.181814  0.004364  0.003526  0.056120
10  0.718687  0.233839  0.010976  0.001211  0.035287
11  0.622838  0.248646  0.001699  0.020303  0.106513
12  0.695439  0.200926  0.001211  0.005580  0.096844
13  0.704614  0.182551  0.020560  0.008375  0.083900
14  0.725521  0.193026  0.001385  0.000855  0.079213
15  0.717626  0.213227  0.007436  0.008211  0.053500
16  0.672110  0.153766  0.024753  0.025480  0.123891
17  0.754686  0.152773  0.005976  0.000757  0.085808
18  0.784538  0.129829  0.000724  0.019481  0.065428
19  0.688504  0.197915  0.019404  0.002120  0.092057
20  0.753638  0.146308  0.007552  0.001494  0.091009
21  0.657611  0.231243  0.010558  0.008029  0.092559
22  0.773760  0.143682  0.020279  0.005032  0.057248
23  0.761618  0.153002  0.001135  0.002708  0.081538
24  0.790672  0.138934  0.005897  0.000303  0.064193

In [9]:
md.add_constraints('x1', 0, 0.5)

{'x1': (0, 0.5)}