In [1]:
import pymixdee as pmd

# Generer des plans de mélanges

## Créer une instance de la classe MixD
en paramètres ajouter soit le nombre de facteurs, soit leur nom au sein d'une liste de strings

In [2]:
md = pmd.MixD(factor_names=['x1', 'x2', 'x3', 'x4', 'x5'])

## Determiner le nombre de points au centre désirés et le degré du modèle

In [3]:
ndegree = 3
ncenter = 2

## Plan Simplexe Centroïd

In [4]:
plan = md.centroid_simplex(ndegree = ndegree, ncenter = ncenter)
plan.head()

number of experiments = 27

         x1        x2        x3   x4   x5
0  1.000000  0.000000  0.000000  0.0  0.0
1  0.500000  0.500000  0.000000  0.0  0.0
2  0.333333  0.333333  0.333333  0.0  0.0
3  0.000000  0.000000  0.000000  0.0  1.0
4  0.000000  0.000000  0.000000  1.0  0.0

## Réseau de Scheffé

In [5]:
plan = md.scheffe_design(ndegree = ndegree, ncenter = ncenter)
plan.head()

number of experiments = 27

         x1        x2   x3   x4   x5
0  0.000000  1.000000  0.0  0.0  0.0
1  0.333333  0.666667  0.0  0.0  0.0
2  0.666667  0.333333  0.0  0.0  0.0
3  0.000000  0.000000  0.0  0.0  1.0
4  0.000000  0.000000  0.0  1.0  0.0

## Plan selon distribution de Dirichlet

In [6]:
plan = md.dirichlet(25, alpha = (80,18,1,0,10))
plan.head()

         x1        x2        x3        x4        x5
0  0.655483  0.226184  0.000474  0.000900  0.116960
1  0.739075  0.171932  0.002424  0.008523  0.078046
2  0.776149  0.140907  0.005004  0.009648  0.068292
3  0.743222  0.144271  0.011762  0.010883  0.089862
4  0.730288  0.176132  0.010707  0.010117  0.072756

# Quelques options utiles

## Pour ajouter des contraintes basses

In [7]:
plan = md.add_lower_constraints(plan, [0.1, 0, 0, 0.2, 0.3])
plan.head()

         x1        x2        x3        x4        x5
0  0.362193  0.090474  0.000189  0.200360  0.346784
1  0.395630  0.068773  0.000970  0.203409  0.331218
2  0.410460  0.056363  0.002001  0.203859  0.327317
3  0.397289  0.057708  0.004705  0.204353  0.335945
4  0.392115  0.070453  0.004283  0.204047  0.329102

## Randomiser les essais

In [8]:
plan = md.shuffle(plan)
plan.head()

         x1        x2        x3        x4        x5
0  0.361057  0.060897  0.013938  0.202871  0.361238
1  0.416794  0.061187  0.001935  0.201251  0.318833
2  0.386892  0.068399  0.005073  0.202686  0.336950
3  0.338329  0.085900  0.001514  0.201138  0.373118
4  0.382982  0.059395  0.010779  0.203109  0.343735